name: Build

on:
  push:
    tags:
      - "*.*.*"
    branches:
      - actions*

jobs:
  build_linux:
    name: Build wheels on ubuntu-latest ${{ matrix.arch }} ${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ x86_64, aarch64 ]
        python: [ cp38-*, cp39-*, cp310-*, cp311-*, cp312-*, cp313-* ]
    steps:
      - uses: actions/checkout@v3
      # Used to host cibuildwheel
      - uses: actions/setup-python@v4
        with:
          python-version: |
            3.11
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.21.3
      - name: Build wheels
        env:
          CIBW_BUILD: ${{ matrix.python }}
          CIBW_BEFORE_BUILD: python -m pip install pip Cython --upgrade
          CIBW_ARCHS_LINUX: ${{ matrix.arch }}
          CIBW_SKIP: pp* *-musllinux*
        run: python -m cibuildwheel --output-dir wheelhouse
        # to supply options, put them in 'env', like:
        # env:
        #   CIBW_SOME_OPTION: value
      - name: Install dependencies
        run: python -m pip install setuptools wheel twine
      - name: Publish to PyPI 
        run: twine upload -u __token__ -p ${{ secrets.PYPI_ACCESS_TOKEN }} ./wheelhouse/* 
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./wheelhouse/**
  build_mac:
    name: Build wheels on macos-14
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      # Used to host cibuildwheel
      - uses: actions/setup-python@v4
        with:
          python-version: |
            3.11
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.21.3
      - name: Build wheels
        env:
          CIBW_BEFORE_BUILD: python -m pip install pip Cython --upgrade
          CIBW_ARCHS_MACOS: x86_64 arm64 universal2
          CIBW_SKIP: pp* *-musllinux*
          # CIBW_REPAIR_WHEEL_COMMAND_MACOS: "delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}"
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: ""
        run: python -m cibuildwheel --output-dir wheelhouse
        # to supply options, put them in 'env', like:
        # env:
        #   CIBW_SOME_OPTION: value
      - name: Install dependencies
        run: python -m pip install setuptools wheel twine
      - name: Publish to PyPI 
        run: twine upload -u __token__ -p ${{ secrets.PYPI_ACCESS_TOKEN }} ./wheelhouse/* 
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./wheelhouse/**
  build_mcp_server:
    name: Build and Test MCP Server Container
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5 # Use the latest version of setup-python
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip' # Option
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
      - name: Build MCP Server Container
        run: docker build -f mcp_server/Dockerfile.mcp -t kstar-planner:v0.0 .
      - name: Run MCP Server Container
        run: docker run -p 8000:8000 --name kstar-planner -d kstar-planner:v0.0
      - name: Install Test dependencies
        run: |
          pip install -r mcp_server/requirements.txt
          pip install -r mcp_server/requirements_test.txt
      - name: Test MCP Server Container
        env:
          MCP_SERVER_URL: http://localhost:8000/mcp
        run: python -m pytest -s mcp_server/tests/test_container.py